<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Review Project</title>
</head>
<body>
  <main>

    <header>

      <div class="title">
        <h1>Nolwenn Escoubet L'Hévéder</h1>
        <div class="underline"></div>
      </div>
    </header>

    <section class="container">


      <div class="review">
        <div class="img-container">
        </div>
        <h3 id="author">Nolwenn Escoubet</h3>
        <h2 id="job"><strong>Marquis de Sade</strong></h2>
        <p id="info">
        Identité négative sur papier journal Libération </p>
        <p id="price">350 €
        </p>
        <div class="button-container">
          <div class="btn-row1">

            <button class="btn prev-btn">
            <i><svg viewBox="0 0 256 512" width="100" title="angle-left">
            <path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z" />
            </svg></i>
            </button>

            <button class="btn next-btn">
            <i><svg viewBox="0 0 256 512" width="100" title="angle-right">
            <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" />
            </svg></i>
            </button>
          </div>
      </div>
          <img src="https://res.cloudinary.com/nolwen/image/upload/v1656246888/4%20X%204/Marquis-de-sade_wmu7vx.png" id="person-img" width="500" height="600">
        </div>
    </section>
  </main>
</body>
</html>
<script>
const nameN = "Nolwenn Escoubet L'Hévéder";
const reviews = [
  {
    id: 1,
    job: "Marquis de Sade",
    img: "https://res.cloudinary.com/nolwen/image/upload/v1656246888/4%20X%204/Marquis-de-sade_wmu7vx.png" ,
    info:"Identité négative sur papier journal Libération ",
    price: "400 €",
  },
  {
    id: 2,
    job: "La satire",
    img: "https://res.cloudinary.com/nolwen/image/upload/v1656246887/4%20X%204/La-satire_rxvakp.png",
    info: "Identité négative sur papier journal Libération ",
    price: "400 €",
  },
  {
    id: 3,
    job: "Broceliande",
    img: "https://res.cloudinary.com/nolwen/image/upload/v1656246886/4%20X%204/Broc%C3%A9liande_jic408.png",
    info: "Identité positive Polaroïd ",
    price: "400 €",
  },
  {
    id: 4,
    job: "Fight Club",
    img: "https://res.cloudinary.com/nolwen/image/upload/c_scale,h_640,w_527/v1656246903/4%20X%204/Fight-club_vcvcfo.png",
    info: "Identité négative sur papier journal Libération ",
    price: "400 €",
  },
  {
    id: 5,
    job: "Vie privée",
    img: "https://res.cloudinary.com/nolwen/image/upload/v1656253409/4%20X%204/Vie-Priv%C3%A9e2_y9jxyi.png",
    info: "Identité négative sur papier journal Libération ",
    price: "400 €",
  },
  {
    id: 6,
    job: "Boglach - Tourbe",
    img: "https://res.cloudinary.com/nolwen/image/upload/c_scale,h_787,w_613/v1656246883/2%20X%202/Boglach_ajrpsg.png",
    info: "Identité positive Polaroïd",
    price: "180 €",
  },
  {
    id: 7,
    job: "Dremm- Visage",
    img: "https://res.cloudinary.com/nolwen/image/upload/c_scale,h_762,w_613/v1656246882/2%20X%202/Dremm_oicm60.png",
    info: "Identité positive Polaroïd",
    price: "180 €",
  },
  {
    id: 8,
    job: "Glas- Bleu Vert",
    img: "https://res.cloudinary.com/nolwen/image/upload/c_scale,h_772,w_613/v1656246876/2%20X%202/Glas_k7kfie.png",
    info: "Identité positive Polaroïd",
    price: "180 €",
  },
  {
    id: 9,
    job: "An Ankou - Le Messager",
    img: "https://res.cloudinary.com/nolwen/image/upload/c_scale,h_765,w_613/v1656246869/2%20X%202/An-Ankou_web_zsoaan.png",
    info: "Identité positive Polaroïd",
    price: "180 €",
  },
  {
    id: 10,
    job: "Pokou Pokou - Bisou Bisou",
    img: "https://res.cloudinary.com/nolwen/image/upload/c_scale,h_769,w_613/v1656246869/2%20X%202/Poko%C3%B9-Poko%C3%B9_mbgibg.png",
    info: "Identité positive Polaroïd",
    price: "180 €",
  },
  {
    id: 11,
    job: "Ar Sonj - Le Songe",
    img: "https://res.cloudinary.com/nolwen/image/upload/v1656246842/2%20X%202/Ar_sonj_uoi9be.png",
    info: "Identité positive Polaroïd",
    price: "180 €",
  },
  {
    id: 12,
    job: "An Douar Du - La Terre Noire",
    img: "https://res.cloudinary.com/nolwen/image/upload/v1656246840/2%20X%202/An_douar_du_m8gfkn.png",
    info: "Identité positive Polaroïd",
    price: "180 €",
  },
  {
    id: 13,
    job: "Saint Camille",
    img: "https://res.cloudinary.com/nolwen/image/upload/v1656246910/4%20X%208/Saint-Camille_dmko5m.png",
    info: "Identité négative sur papier journal Libération ",
    price: "800 €",
  },
  {
    id: 14,
    job: "Le Greffe",
    img: "https://res.cloudinary.com/nolwen/image/upload/v1656246908/4%20X%208/Le-Greffe_p66gf4.png",
    info: "Identité négative sur papier journal Libération ",
    price: "800 €",
  },
    {
    id: 15,
    job: "Hello",
    img: "https://res.cloudinary.com/nolwen/image/upload/v1656256319/Petits%20formats%20papier/Hello_oy7meo.jpg",
    info: "Petit format encre et crayon",
    price: "25 €",
  },
      {
    id: 16,
    job: "My Tender Octopus",
    img: "https://res.cloudinary.com/nolwen/image/upload/v1656256318/Petits%20formats%20papier/My_tender_octopuss_j524d5.jpg",
    info: "Petit format encre et crayon",
    price: "25 €",
  },
      {
    id: 17,
    job: "Mahmoud Darwish",
    img: "https://res.cloudinary.com/nolwen/image/upload/v1656256311/Petits%20formats%20papier/Mahmoud_Darwich_jygjva.jpg",
    info: "Petit format encre et collage ",
    price: "25 €",
  },
      {
    id: 18,
    job: "Aladin",
    img: "https://res.cloudinary.com/nolwen/image/upload/v1656256310/Petits%20formats%20papier/Aladin_nltven.jpg",
    info: "Petit format encre et collage ",
    price: "25 €",
  },
      {
    id: 19,
    job: "Bar a oui",
    img: "https://res.cloudinary.com/nolwen/image/upload/v1656256309/Petits%20formats%20papier/Bar_a_oui_uid53m.jpg",
    info: "Petit format encre et collage ",
    price: "25 €",
  },
       {
    id: 20,
    job: "Tu as vu ma crête",
    img: "https://res.cloudinary.com/nolwen/image/upload/v1656256299/Petits%20formats%20papier/Tu_as_vu_ma_cr%C3%AAte_1_jovrrz.jpg",
        info: "Petit format encre et crayon",
    price: "25 €",
  },
];




//select items
const img = document.getElementById("person-img");
const author = document.getElementById("author");
const job = document.getElementById("job");
const info = document.getElementById("info");
const price = document.getElementById("price");

const prevBtn = document.querySelector(".prev-btn");
const nextBtn = document.querySelector(".next-btn");
const randomBtn = document.querySelector(".random-btn");

//set starting item
let currentItem = 0;

//load initial item
window.addEventListener('DOMContentLoaded', function(){
  showPerson()
})

//show person based on item
function showPerson(){
  const item = reviews[currentItem];
  img.src = item.img;
  author.textContent = item.name;
  job.textContent = item.job;
  info.textContent = item.info;
  price.textContent = item.price;
}

//show next person
nextBtn.addEventListener('click', function(){
  currentItem++;
  if(currentItem > reviews.length - 1){
    currentItem = 0;
  }
  showPerson();
})

//show prev person
prevBtn.addEventListener('click', function(){
  currentItem--;
   if(currentItem < 0){
    currentItem = reviews.length - 1;
  }
  showPerson();
})

</script>
